# Pandas - Working with Time Series Date Data

In [138]:
import pandas as pd
from datetime import datetime
import numpy as np

# Let's create a pandas series that logs time every hour from 1st Nov'19 to 7th Nov'19
df = pd.date_range(start='11/01/2019', end='11/07/2019', freq='h') 
#h = hours 
df

DatetimeIndex(['2019-11-01 00:00:00', '2019-11-01 01:00:00',
               '2019-11-01 02:00:00', '2019-11-01 03:00:00',
               '2019-11-01 04:00:00', '2019-11-01 05:00:00',
               '2019-11-01 06:00:00', '2019-11-01 07:00:00',
               '2019-11-01 08:00:00', '2019-11-01 09:00:00',
               ...
               '2019-11-06 15:00:00', '2019-11-06 16:00:00',
               '2019-11-06 17:00:00', '2019-11-06 18:00:00',
               '2019-11-06 19:00:00', '2019-11-06 20:00:00',
               '2019-11-06 21:00:00', '2019-11-06 22:00:00',
               '2019-11-06 23:00:00', '2019-11-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

**NOTE ISO 8601 format**
-  yyyy-mm-dd hh:mm:ss

In [139]:
len(df)

145

In [140]:
#Now let's turn our series into a dataframe
df = pd.DataFrame(df, columns=['date'])
df

                   date
0   2019-11-01 00:00:00
1   2019-11-01 01:00:00
2   2019-11-01 02:00:00
3   2019-11-01 03:00:00
4   2019-11-01 04:00:00
..                  ...
140 2019-11-06 20:00:00
141 2019-11-06 21:00:00
142 2019-11-06 22:00:00
143 2019-11-06 23:00:00
144 2019-11-07 00:00:00

[145 rows x 1 columns]

In [141]:
# And add a 'made up' column for sales data
df['sales'] = np.random.randint(0,1000,size=(len(df)))
df.head()

                 date  sales
0 2019-11-01 00:00:00    721
1 2019-11-01 01:00:00    391
2 2019-11-01 02:00:00    996
3 2019-11-01 03:00:00    549
4 2019-11-01 04:00:00    424

# Selecting using dates

In [142]:
# Set your date as the index 
df = df.set_index('date')
df.head()

                     sales
date
2019-11-01 00:00:00    721
2019-11-01 01:00:00    391
2019-11-01 02:00:00    996
2019-11-01 03:00:00    549
2019-11-01 04:00:00    424

## Using .loc[] to index specific dates

In [143]:
# Selecting using date - getting exact value for cell 
df.loc['2019-11-01 03:00:00', 'sales']

549

In [144]:
# Selecting using date to return the row corresponding to that date
df.loc['2019-11-01 03:00:00']

sales    549
Name: 2019-11-01 03:00:00, dtype: int32

In [145]:
# Selecting an entire day
df.loc['2019-11-01']
# Similary you an use df.loc['2019-11'] to select and entire month

                     sales
date
2019-11-01 00:00:00    721
2019-11-01 01:00:00    391
2019-11-01 02:00:00    996
2019-11-01 03:00:00    549
2019-11-01 04:00:00    424
2019-11-01 05:00:00    296
2019-11-01 06:00:00    155
2019-11-01 07:00:00    962
2019-11-01 08:00:00    768
2019-11-01 09:00:00    510
2019-11-01 10:00:00    677
2019-11-01 11:00:00    259
2019-11-01 12:00:00    599
2019-11-01 13:00:00    969
2019-11-01 14:00:00    613
2019-11-01 15:00:00    745
2019-11-01 16:00:00    594
2019-11-01 17:00:00    466
2019-11-01 18:00:00    597
2019-11-01 19:00:00     17
2019-11-01 20:00:00    864
2019-11-01 21:00:00    629
2019-11-01 22:00:00    958
2019-11-01 23:00:00    879

In [146]:
# Selecting a range of dates
df.loc['2019-11-01':'2019-11-02']

                     sales
date
2019-11-01 00:00:00    721
2019-11-01 01:00:00    391
2019-11-01 02:00:00    996
2019-11-01 03:00:00    549
2019-11-01 04:00:00    424
2019-11-01 05:00:00    296
2019-11-01 06:00:00    155
2019-11-01 07:00:00    962
2019-11-01 08:00:00    768
2019-11-01 09:00:00    510
2019-11-01 10:00:00    677
2019-11-01 11:00:00    259
2019-11-01 12:00:00    599
2019-11-01 13:00:00    969
2019-11-01 14:00:00    613
2019-11-01 15:00:00    745
2019-11-01 16:00:00    594
2019-11-01 17:00:00    466
2019-11-01 18:00:00    597
2019-11-01 19:00:00     17
2019-11-01 20:00:00    864
2019-11-01 21:00:00    629
2019-11-01 22:00:00    958
2019-11-01 23:00:00    879
2019-11-02 00:00:00    359
2019-11-02 01:00:00    705
2019-11-02 02:00:00    810
2019-11-02 03:00:00    401
2019-11-02 04:00:00    156
2019-11-02 05:00:00    900
2019-11-02 06:00:00    633
2019-11-02 07:00:00    136
2019-11-02 08:00:00    619
2019-11-02 09:00:00      7
2019-11-02 10:00:00    502
2019-11-02 11:00:00    306
2019-11-02 12:00:00    465
2019-11-02 13:00:00    770
2019-11-02 14:00:00    891
2019-11-02 15:00:00    749
2019-11-02 16:00:00    889
2019-11-02 17:00:00    847
2019-11-02 18:00:00    474
2019-11-02 19:00:00    256
2019-11-02 20:00:00    856
2019-11-02 21:00:00    518
2019-11-02 22:00:00    162
2019-11-02 23:00:00    264

# Resampling

**Summary States** - we can use Statistical methods over different time intervals
- mean(), sum(), count(), min(), max()

**Down-sampling**
- reduce datetime rows to longer frequency

**Up-sampling**
- increase datetime rows to shorter frequency

In [149]:
# Using resample   to get the average for each day per hour

df.resample('D').mean()
#df.resample('D').sum()

                 sales
date
2019-11-01  609.916667
2019-11-02  528.125000
2019-11-03  550.041667
2019-11-04  451.125000
2019-11-05  522.750000
2019-11-06  622.666667
2019-11-07   84.000000

In [151]:
# Using resample to get the average for each minute (downsampling)

df.resample('T').mean()

                     sales
date
2019-11-01 00:00:00  721.0
2019-11-01 00:01:00    NaN
2019-11-01 00:02:00    NaN
2019-11-01 00:03:00    NaN
2019-11-01 00:04:00    NaN
...                    ...
2019-11-06 23:56:00    NaN
2019-11-06 23:57:00    NaN
2019-11-06 23:58:00    NaN
2019-11-06 23:59:00    NaN
2019-11-07 00:00:00   84.0

[8641 rows x 1 columns]

## Resampling frequencies

- 'min', 'T' - minute
- â€˜Hâ€™ - hour
- â€˜Dâ€™ - day
- â€˜Bâ€™ - business day
- â€˜Wâ€™ - week
- â€˜Mâ€™ - month
- â€˜Qâ€™ - quarter
- â€˜Aâ€™ - year

# Parsing dates

In [165]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [166]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [167]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [169]:
pd.to_datetime('2019-01-01', format='%d-%m-%Y', errors='ignore')

'2019-01-01'